<!doctype html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<title>Tom Crean Centre Bookings for {{date}} </title>
	<meta http-equiv="refresh" content="900">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<section>
		<h1>Tom Crean Boardroom </h1>
		<h2>{{date}}</h2>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Time</th>
						<th>Booking</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			{{name|safe}}
		</div>
	</section>

	<div class="made-with-love">
		Made with
		<i>☕</i> by
		<a target="_blank" href="//imar.ie">IMaR</a>
	</div>
</body>

</html>
